<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alpha-Viz</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
  <!-- add script tags to include all the .js file -->
  <script src="lib/d3/d3.min.js" charset="utf-8"></script>
  <script src="lib/angular/angular.min.js"></script>
  <style>
  /*add custom style css*/
  input[type="range"]{
    width: 15%;
  }
  </style>
</head>
<body ng-app="myApp" ng-init="charts=[[8, 3, 7],[2, 5, 9],[6, 2, 3]]; ourRangeValue=50; progs=[20, 30, 50]; dynamic_chart=[10, 20, 30]">
  <input type="text" ng-model="person"></input>
  hello {{person}}!
  <hello-world></hello-world>
  <p>------------------------------------</p>
  <donut-chart data="chart" ng-repeat="chart in charts"></donut-chart>
  <p>------------------------------------</p>
  <div ng-controller="HelloController">
    <input type="range" ng-model="ourRangeValue">
    <input type="range" ng-model="ourRangeValue">
  </div>
  <p>------------------------------------</p>
  <div ng-repeat="prog in progs">
    <input type="range" ng-model="prog">
      <progress-bar progress="prog"></progress-bar>
    </input>
  </div>
  <p>------------------------------------</p>
  <input type="range" ng-model="dynamic_chart[0]">
  <br>
  <input type="range" ng-model="dynamic_chart[1]">
  <br>
  <input type="range" ng-model="dynamic_chart[2]">
  <donut-chart data="dynamic_chart"></donut-chart>
  <script>
  // module to hold all the directives
  var myApp = angular.module('myApp', [])
  // create helloWorld directive
  myApp.directive('helloWorld', function() {
    function link(scope, element, attr) {
      element.text("hello world!")
    }
    return {
      link: link,
      restrict: 'E'
    }
  })
  // create donut char directive
  myApp.directive('donutChart', function() {
    function link(scope, element, attr) {
      // Donut Chart
      var color = d3.scale.category10() // 10 categories of color
      var data = scope.data // isolated scope to allow different data
      var width = 300
      var height = 300
      var min = Math.min(width, height)
      var svg = d3.select(element[0]).append('svg')
        .attr('width', width)
        .attr('height', height)
      var pie = d3.layout.pie().sort(null) // null to disable sorting
      var arc = d3.svg.arc()
        .outerRadius(min / 2 * 0.9)
        .innerRadius(min / 2 * 0.5) 
      var g = svg.append('g') // for group SVGs, center the donut chart
        .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')') // w/2 as x, h/2 as y
      
      var arcs = g.selectAll('path').data(pie(data))
        .enter().append('path')
          .attr('fill', function(d, i) { return color(i) })
          .style('stroke', 'white')
        // .attr('d', arc) need to comment and modify dynamicly

      // add $watch to dynamic update
      scope.$watch('data', function(data) {
        console.log("an element within `data` changed!")
        console.log(data)
        arcs.data(pie(data)).attr('d', arc);
      }, true)
    }
    return {
      link: link,
      restrict: 'E',
      scope: { data: '=' }
    }
  })

  // create a HelloController
  myApp.controller('HelloController', function($scope){
    $scope.ourRangeValue = 50; 
  })

  // create progress bar directives
  myApp.directive('progressBar', function() {
    function link (scope, element, attr) {
      var w = 300
      var h = 30
      var svg = d3.select(element[0]).append('svg')
        .attr('width', w)
        .attr('height', h)
        .style('border', '1px solid black')
      // inner bar 'rect'
      var rect = svg.append('rect').style('fill', 'blue')
      scope.$watch('progress', function(progress) {
        rect.attr({x: 0, y: 0, width: w * progress / 100, height: h })
      })
    }
      return {
        link: link,
        restrict: 'E',
        scope: { progress: '=' }
      }
  })

  </script>
  
  <!-- add div tags to set region -->
  <script>
  // your d3.js code

  // configure page layout

  // load data
  // var file = "./data/daily_2014_clean.csv"
  // var columns = "year,month,day,entity,avgASenti,avgImpSc".split(',')
  // var metricOne = "avgASenti"
  // var metricTwo = "avgImpSc"

  // d3.csv(file, function(error, data) {
  //   // error check
  //   if(error) {
  //     console.warn(error);
  //     return;
  //   }
  //   // use data
  //   console.log(data.length)
  // })
  // perform functions

  </script>

</body>
</html>